
        <html>
        <head>
            <title>Quote Server</title>
      
            <link rel="stylesheet" href="{{ stylesheet }}">
        </head>
        <body>
            <h1>Welcome to the Quote Server: </h1><br /><br/>
            <h2>
            Here is a Random Quote From our Database: <br /><br />
            Quote:  {{ quote }} <br />
            Author: {{author}} <br/> 
            </h2>
            
            <br /> Please Add a Quote to Database: </br><br \>
         
            <form action="/add_to_database" method="post">
                <label for="entry">Quote:</label><br>
                <input type="text" id="quote" name="quote"/><br><br>
                <label for="entry">Author:</label><br>
                <input type="text" id="author" name="author"/><br><br>
                <button type="submit">Add to Quote Database</button>
            </form>             
        </body>
        </html>
